.command {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
 // padding-top: 50px;
  color:  #93a1a1;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;

}