@import 'solarized';
.zsh {
  margin: auto;
  color:  $base00;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  overflow: hidden;
  white-space: nowrap;

  &:before {
    content: "$ ";
  }

  .command {
    color:  $green;
  }

  .arg {
  }

  .comment {
    color: $base1;

    &:before {
      content: "# ";
    }
  }
}
