@import "solarized";
@import "normalize";
@import "json";
@import "typescale";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: $base00;
  background: $base3;
}

p {
  font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
  font-weight: lighter;
  img {
    max-width: 100%;
  }
}

figure {
  img {
    max-width: 100%;
    display: block;
  }

  figcaption {
    padding: 5px 15px;
    background-color: $base2;
    color: $base1;
    font-size: 1.2rem;
  }
}


main {
  width: 90%;
  margin: auto;
}

code {
  background: $base2;
  display: inline-block;
}

pre code {
  width: 100%;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  color: $base00;
}

article {
  font-weight: lighter;

  .header {
    font-size: 1.4rem;
    color: $base00;

    date {
      font-style: italic;
    }
  }
}

nav {
  & > a {
    font-size: 2rem;
    color: $yellow;
    text-transform: uppercase;
  }

  a {
    margin-right: 2rem;
  }
}

.logo {
  display: inline-block;

  a {
    font-size: inherit;
    font-weight: bold;
    color: $yellow;
    text-decoration: none;
  }
}

h2 a { color: $cyan; }

a {
  text-decoration: none;
  color: $red;
  font-weight: 400;

  &:hover {
    border-bottom: 1px dashed;
 }
}

.post-list {
  padding: 0;
  li {
    list-style-type: none;
  }
}
// inline code
code { padding: 0 5px; }
// block code
pre code { padding: 10px; }

