 article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a{background:transparent}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{
 border:0;
 
 padding:0;
}


button,
input,
select,
textarea{
 font-family:inherit;
 
 font-size:100%;
 
 margin:0;
}


button,
input{
 line-height:normal}


button,
select{
 text-transform:none}


button,
html input[type="button"],
input[type="reset"],
input[type="submit"]{
 -webkit-appearance:button;
 
 cursor:pointer;
}


button[disabled],
html input[disabled]{
 cursor:default}


input[type="checkbox"],
input[type="radio"]{
 box-sizing:border-box;
 
 padding:0;
}


input[type="search"]{
 -webkit-appearance:textfield;
 
 -moz-box-sizing:content-box;
 -webkit-box-sizing:content-box;
 
 box-sizing:content-box}


input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
 -webkit-appearance:none}


button::-moz-focus-inner,
input::-moz-focus-inner{
 border:0;
 padding:0}


textarea{
 overflow:auto;
 
 vertical-align:top;
}



table{
 border-collapse:collapse;
 border-spacing:0}


.string{
 display:inline;
 color:#2aa198!important}
 .string:before{
 content:"\"";
    color: #93a1a1; }
  .string:after {
    content: "\"";
 color:#93a1a1}

.hash{
 font-family:Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
 padding-top:50px;
 color:#839496;
 margin:auto}
 .hash .pair{
 display:block;
 text-indent:0.5em}
 .hash .pair:after{
 content:","}
 .hash .pair:last-child:after{
 content:""}
 .hash .key{
 color:#2aa198!important;
 display:inline-block;
 margin:0.25em 0}
 .hash .key:before{
 content:"\"";
      color: #93a1a1; }
    .hash .key:after {
      content: "\":";
 color:#93a1a1}
 .hash p+p{
 text-indent:0}
 .hash:after{
 content:"}"}
 .hash:before{
 content:"{"}

.array{
 display:inline;
 padding:0;
 margin:0}
 .array:before{
 content:"["}
 .array:after{
 content:"]"}
 .array li{
 list-style:none;
 display:inline}
 .array>:after{
 content:","}
 .array>:last-child:after{
 content:""}

h6{
 font-size:1.2rem}

h5{
 font-size:1.5996rem}

h4{
 font-size:2.13227rem}

h3{
 font-size:2.84231rem}

h2{
 font-size:3.7888rem}

h1{
 font-size:5.05047rem}

html{
 font-size:62.5%}

body{
 font-size:1.6rem;
 line-height:1.5;
 color:#586e75;
 background:#fdf6e3}

p{
 font-family:"ff-din-web-pro-1","ff-din-web-pro-2",sans-serif;
 font-weight:lighter}
 p img{
 max-width:100%}

figure img{
 max-width:100%}

main{
 width:90%;
 margin:auto}

code{
 background:#eee8d5;
 display:inline-block}

pre code{
 width:100%}

footer{
 margin-top:3rem;
 padding:1.2rem 0;
 font-size:1.2rem;
 color:#657b83}

article{
 font-weight:lighter}
 article .header{
 font-size:1.4rem;
 color:#657b83}
 article .header date{
 font-style:italic}

nav>a{
 font-size:2rem;
 color:#b58900;
 text-transform:uppercase}

nav a{
 margin-right:2rem}

.logo{
 display:inline-block}
 .logo a{
 font-size:inherit;
 font-weight:bold;
 color:#b58900;
 text-decoration:none}

h2 a{
 color:#2aa198}

a{
 text-decoration:none;
 color:#dc322f;
 font-weight:400}
 a:hover{
 border-bottom:1px dashed}

.post-list{
 padding:0}
 .post-list li{
 list-style-type:none}

code{
 padding:0 5px}

pre code{
 padding:10px}
