@import "solarized";

div.sourceCode, pre:not(.sourceCode) { background: #FDF6E3; }
pre code { color: $base00; }
code span.kw { color: $green; font-weight: normal; font-style: normal; } /* Keyword */
code span.dt { color: $yellow; font-weight: normal; font-style: normal; } /* DataType */
code span.dv { color: $cyan; font-weight: normal; font-style: normal; } /* DecVal */
code span.bn { color: $cyan; font-weight: normal; font-style: normal; } /* BaseN */
code span.fl { color: $cyan; font-weight: normal; font-style: normal; } /* Float */
code span.ch { color: $cyan; font-weight: normal; font-style: normal; } /* Char */
code span.st { color: $cyan; font-weight: normal; font-style: normal; } /* String */
code span.co { color: $base1; font-weight: normal; font-style: italic; } /* Comment */
code span.ot { color: $blue; font-weight: normal; font-style: normal; } /* Other */
code span.al { color: $red; font-weight: normal; font-style: normal; } /* Alert */
code span.fu { color: $blue; font-weight: normal; font-style: normal; } /* Function */
code span.er { color: $red; font-weight: normal; font-style: normal; } /* Error */
code span.wa { color: $orange; font-weight: normal; font-style: italic; } /* Warning */
code span.cn { color: $cyan; font-weight: normal; font-style: normal; } /* Constant */
code span.sc { color: $red; font-weight: normal; font-style: normal; } /* SpecialChar */
code span.vs { color: $base00; font-weight: normal; font-style: normal; } /* VerbatimString */
code span.ss { color: $red; font-weight: normal; font-style: normal; } /* SpecialString */
code span.im { color: $base00; font-weight: normal; font-style: normal; } /* Import */
code span.va { color: $blue; font-weight: normal; font-style: normal; } /* Variable */
code span.cf { color: $green; font-weight: normal; font-style: normal; } /* ControlFlow */
code span.op { color: $green; font-weight: normal; font-style: normal; } /* Operator */
code span.bu { color: $base00; font-weight: normal; font-style: normal; } /* BuiltIn */
code span.ex { color: $base00; font-weight: normal; font-style: normal; } /* Extension */
code span.pp { color: $orange; font-weight: normal; font-style: normal; } /* Preprocessor */
code span.at { color: $base00; font-weight: normal; font-style: normal; } /* Attribute */
code span.do { color: $base1; font-weight: normal; font-style: italic; } /* Documentation */
code span.an { color: $base1; font-weight: normal; font-style: italic; } /* Annotation */
code span.cv { color: $base1; font-weight: normal; font-style: italic; } /* CommentVar */
code span.in { color: $base1; font-weight: normal; font-style: italic; } /* Information */
