!!!
%html
  %head
    %title
      Xavier Denis
    %meta{charset: "utf-8"}
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'custom'
    %link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css')
  %body
    %article
      %div.zsh.left-aligned.clear
        %span.command curl
        %span.arg
          :plain
            https://api.xav.io/whoami |
        %span.command jq

      %div.hash.left-aligned
        %span.pair<
          %p.key name
          %p.string Xavier Denis
        %span.pair<
          %p.key location
          %p.string Austin, TX
        %span.pair<
          %p.key job
          %p.string Production Engineering
        %span.pair<
          %p.key github
          %p.string=link_to 'https://github.com/xldenis', 'https://github.com/xldenis'
        %span.pair<
          %p.key languages
          %ul.array
            %li<
              %span.string Haskell
            %li<
              %span.string Ruby
            %li<
              %span.string Rust

      %footer
        %p
          Wanna chat? Contact me at
          %a{href:"mailto:xldenis@gmail.com?Subject=Chat"} xldenis@gmail.com.
        %p
          Follow me at
          %a{href: "https://twitter.com/xldenis"} @xldenis.


