$punctuation: $base0;
$quote: $base1;

.string {
  display: inline;
  color: $cyan !important;

  &:before {
    content: "\"";
    color: $quote;
  }

  &:after {
    content: "\"";
    color: $quote;
  }
}

.hash {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  padding-top: 50px;
  color: $punctuation;
  width: 70%;
  margin: auto;
  font-size: 1.5rem;

  .pair {
    display:block;
    text-indent: 0.5em;

    &:after{
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }

  .key{
    color: #2aa198 !important;
    display: inline-block;
    margin: 0.25em 0;

    &:before {
      content: "\"";
      color: $quote;
    }
    &:after {
      content: "\":";
      color: $quote;
    }
  }

  p + p {
    text-indent: 0;
  }

  &:after {
    content: "}";
  }

  &:before {
    content: "{";
  }
}

.array {
  display: inline;
  padding: 0;
  margin: 0;

  &:before {
    content: "[";
  }
  &:after {
    content: "]";
  }
  li {
    list-style: none;
    display: inline;
  }

  & > :after{
    content: ",";
  }

  & > :last-child:after {
    content: "";
  }
}

@media (max-width: 640px) {
  .hash,.command {
    font-size: inherit;
    width: 90%;

  .pair {
    text-indent: 0em;
  }
}
}
@media (min-width: 1200px) {
  .hash,.command {
    font-size: 2rem;
  }
}
