@import "normalize";
@import "solarized";
@import "json";
@import "zsh";

$white: #eee;

html {
  color-profile: sRGB;
}

body {
  width:100%;
  margin:0;
  font-weight: 100;
  background: $base3;
  color: $base01
}


article {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  font-weight: 100;

  h1,h5,h6 {
    font-family: 'Source Sans Pro', 'Arimo','Lato';
  }
  .left-aligned {
    text-align: left;
    display: inline-block;
  }
  .left-aligned.clear:after {
    content: " ";
    white-space: pre;
  }
}

footer {
  width: 100%;
  float:left;
  margin: 2em 0;
  text-align: center;
  vertical-align: middle;
  bottom: 0;

}

a {
  text-decoration: none;
  color: $red;
  font-weight: 400;

  &:hover {
    border-bottom: 1px dashed;
 }
}
@media (max-width: 440px) {
  .array {
    display: block;
    padding-left: 1em;
  }
}

@media (max-width: 480px) {
  article {
    width: 100%;
  }
  .zsh > .comment {
    display: none;
  }
  .hash {
    .pair {
      text-indent: 0em;
    }
  }
}

@media (max-width: 610px) {
  article {
    width: 90%;
  }
}

@media (min-width: 950px) {
  body{
    font-size: 1.5rem;
  }
}

