%article
  %header
    %time{:pubtime=>""}=post.created_at.strftime("%B")+" "+post.created_at.strftime("%d")
    %h2
      %a{:href=>post_path(post)}=post.title.upcase
  
  =markdown(post.content.to_s)
  %footer
    %h5 Tagged in:
    -if post.tag_list
      -post.tag_list_a.each do |tag|
        =link_to tag,post_tag_path(tag)
  - if comments
    %div{:id=>"disqus_thread"}
  