/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 

equire bootstrap
*/
$width: 500px;
$padding: 130px;


@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  //  background:image-url("cross_scratches_@2X.png");
  line-height: 18px;
}
a{
  text-decoration: none;
  color: #08C;
}

div#profile{

  width: 200px;
  padding: 25px;
  color:#424037;
  font-family: 'Oswald', sans-serif;
  background:white;
  margin-bottom:35px;
  text-align: center;
  float:left;
}
div#profile > * {
  display:inline-block;
}

div#profile #links{
   height:100%;
   text-align:center;
   margin-right:-1px;
  }
  div#profile  a {
    color:#000;
    display:inline-block;

  }
  div#profile > a:hover {
    color:#424037;
    text-decoration:none;  
  }

  div#profile nav{
    width:auto; 
    padding: 10px 0 10px 0;
    border-top:1px dotted #ccc;
    border-bottom:1px dotted #ccc;
    margin-bottom:10px;
    text-align:center;
  }

  div#profile   h1{
    margin:auto;
    color:#000;
    font-size:36px !important;
    line-height: 36px;
    text-rendering:optimizelegibility;
    font-weight:700;
    padding: 10px 0 10px 0;
    margin-bottom:0px;
    text-align:center;
    width:auto;
 }
 #blog, #portfolio{
  font-weight:300;
  font-size:24px;
  display:inline-block;
  height:22px;
  margin-right:15px;
  margin-left:15px;
} 
#github, #twitter, #rss{
  margin-left:10px;
  margin-right:10px;
}

@media (max-width: 1130px) {
  div#profile {
    margin-top: 80px;
  }
}
@media (max-width: $width+$padding+250) {
  div#profile {
    margin: auto;
    width: 405px;
    float:none;
  }
  div#profile #links{
    padding: 35px 0;
    float:right;
  }
}

/* CSS reset */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
  height:100%;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
