/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 

equire bootstrap
*/
@import url(http://fonts.googleapis.com/css?family=Oswald); 

  body {
    background:url(http://subtlepatterns.com/patterns/redox_01.png);
    line-height: 18px;
  }
  a{
    text-decoration: none;
    color: #08C;
  }
  div #profile{
  	display:inline;
    width:330px;
    height:75px;
    float:right;
    color:#424037;
    font-family: 'Oswald', sans-serif;
  }
  div #profile > a {
    color:#000;
    display:inline-block;

  }
  div #profile > a:hover {
    color:#424037;
    text-decoration:none;  
  }
  div #profile >.img{
    width:75px;
    height:75px;
    float:left;
    margin-right:10px;
  }
  div #profile > .img > img{
    border-radius: 10px;
  }
  
  div #profile > a > h1{
    margin:auto;
    color:#000;
    font-size:42px !important;
    line-height: 36px;
    text-rendering:optimizelegibility;
    font-weight:normal;
    height:48px;
    margin-bottom:0px;
    text-align:center;
  }
  #blog, #portfolio{
    font-size:24px;
    display:inline-block;
    height:22px;

  } 
  #github{
    margin-left:7px;

  }

  /* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
  margin:0;
  padding:0;
}
html,body {
  margin:0;
  padding:0;
  height:100%;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img { 
  border:0;
}
input{
  border:1px solid #b0b0b0;
  padding:3px 5px 4px;
  color:#979797;
  width:190px;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}