/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 *= require prettify
 *= require bootstrap
*/
@import url(http://fonts.googleapis.com/css?family=Oswald); 
  div #profile{
  	display:inline;
    width:330px;
    height:75px;
    float:right;
    color:#424037;
    font-family: 'Oswald', sans-serif;
  }
  div #profile > a {
    color:#000;
    display:inline-block;

  }
  div #profile > a:hover {
    color:#424037;
    text-decoration:none;  
  }
  div #profile >.img{
  width:75px;
  height:75px;
  background:#ddd;
  border-radius:5px !important;
  float:left;
  margin-right:10px;
  }
  div #profile > a > h1{
  margin:auto;
  color:#000;
  font-size:42px !important;
  font-weight:normal;
  height:48px;
  margin-bottom:0px;
  text-align:center;
  }
  #blog, #portfolio{
    font-size:24px;
    display:inline-block;
    height:22px;

  } 
  #github{
    margin-left:7px;

  }

  