// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: Arial,Helvetica;
  font-size: 12px;
  color: #424037;
}


.content {
  width: 1000px;
  margin: auto;
  margin-top:80px;
}


article {
  display:inline-block !important;
  width: 650px;
  margin-bottom: 25px;
  font-size:13px;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}
article > h3,h4,h5,h6{

  width:480px;
  float:right;
  display:block;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:10px;
  padding-right:10px;
  background:white;
  font-weight:bold;
}
article > pre{
  float:right;
  margin-right:25px;

}
article > header {
  width: 650px;
  clear: right;
  border-bottom:1px #DDD solid;
  border-top: 1px #DDD solid;
  
}


article > p {
  width: 480px;
  float: right;
  background:white;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}


article > header > time {
  line-height:40px;
  font-size:16px;
  width: 140px;
  float: left;
  padding-left:10px;
  height: 40px;
  display:inline-block;
}


article > header > h2 {
  line-height:40px;
  font-size: 28px;
  width: 480px;
  font-weight:normal !important;
  font-family:Oswald, 'sans-serif';
  margin: 0;
  display: inline-block;
  background: white;
  padding-left:10px;
  padding-right:10px;
}


article > header > h2 > a {
  color: #424037;
  text-decoration: none;
}


article > header > h2 > a:hover {
  color: #605855;
  text-decoration:none;
}
article > footer {
  padding-top:20px;
  padding-bottom:10px;
  padding-left:10px;
  width:490px;
  float:right;
  background:white;

}
article > footer > h5{
  display:inline;
  width: auto;
  float:none;
  font-weight:bold;
  padding:0;

}


#disqus_thread {
    float:right;
}
