// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$width: 500px;
$padding: 130px;

html {
 // font-family: Arial,Helvetica;
  font-family: Courier New;
  font-size: 16px;
  line-height: 1.5em;
  color: #424037;
}


.content {
  min-width: $width+$padding;
  max-width: 50%;
  display:inline-block;
}
@media (max-width: 1130px){
  .content {
    display:inline-block;
  }
}
@media (max-width: $width+$padding+250) {
  .content { 
    width: 80%;
    margin-top: 0;
    margin: 0 10%;
  }
  article {
    width: 100% !important;
  }
}

article {
  display:inline-block;
  margin-bottom: 25px;
  font-size:1rem;
  line-height: 1.5;

}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4, h5, h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}

article > pre{
  float:right;
  margin-right:25px;

}
article > header {
  border-bottom: 1px dotted #ccc;
}


article > p, h1,h2,h3,h4,h5,h6,footer {
  //width: $width;
  //background:white;
 // margin: auto;
}
article > h1,h2,h3,h4,h5,h6{
  display:block;
  margin-top: 10px ;
  //margin-bottom: 5px ;
  font-weight:bold;
}
article > p {
  margin-top: 10px;
}

article > header > time {
  line-height:40px;
  font-size:16px;
  width: 140px;
  float: left;
  padding-left:10px;
  height: 40px;
  display:inline-block;
}


article > header > h2 {
  line-height:40px;
  font-size: 28px;
  width: $width;
  font-weight:300 !important;
  font-family:Oswald, 'sans-serif';
  padding-top: 20px;
  padding-bottom: 10px;
}


article > header > h2 > a {
  color: #424037;
  text-decoration: none;
}


article > header > h2 > a:hover {
  color: #605855;
  text-decoration:none;
}
article > footer {
  padding-top:10px;
  padding-bottom:20px;
 // width:$width;
  border-top:1px dotted #ccc; 
  margin-top:20px;

}
article > footer > h5{
  display:inline;
  width: auto;
  float:none;
  font-weight:bold;
  padding:0;

}


#disqus_thread {
    float:right;
}
